<div class="interactive-wrapper rainfall">
    <div id="outer-wrapper" class="showcase">
			<div class="row">

			<div class='figureTitle' id="chartTitle">River heights compared to flooding classifications</div>
			<div class='subTitle' id="subTitle">Showing the observed river height against flood thresholds.<span id="yearsNote"></span></div>
			<div class='notes' id='chartKey'>
				Currently showing: <select id="rainSelector"></select>	
			</div>
			
			</div>
			<div class="row borderBottom chartSans" id="graphicContainer">	
					<div id="loadingContainer">Loading...</div>
			</div>
			<div class='footer offset'>
				<div id="footerAnnotations">

				</div>	
				
				<span id="footnote">Rainfall data from Botanic Gardens and Observatory Hill (Feb 24, 25), </span> Guardian graphic <span id="sourceText"> | Bureau of Meteorology</span>
			</div>	
			
	</div>
</div>